main{
    background-color: rgb(252, 246, 246);
    font-family: 'Roboto', sans-serif;
    width: 100%;
}



header{
    width: 100%;
    background-color: rgb(55, 51, 51);
    margin: auto;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner img{
    height: 600px;
    width: 100%;
}

.logo{
    width: 150px;
    height: 100px;
    background-color: rgb(55, 51, 51);
    text-align: center;
    margin-top: -20px;
    
}



.logo img{
    height: 150px;
    width: 150px;
}

.cards{
width: 90%;
align-items: center;
display: flex;
justify-content: space-between;
margin: auto;
margin-top: 30px;
}

.card{
    width: 22%;
    background-color: rgb(55, 51, 51);
    height: 300px;
    border: 2px solid slategray;
    text-align: center;
    background-color: rgb(216, 206, 206);
   
    
}

.nav{
    
    margin-top: 30px;
    background-color: rgb(55, 51, 51);


   
}

.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav ul li{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border: 2px solid palegoldenrod;
    list-style: none;
    background-color: rgb(55, 51, 51);
    color: white;
}

.testimonials{
    width: 90%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.image{
    width: 75px;
    height: 75px;
    border: 2px solid rgb(50, 53, 56);
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
}

.image img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.testimonial{
    align-items: center;
    text-align: center;
    border: 2px solid rgb(53, 57, 61);
    width: 30%;
    background: grey;
}

.contact{
    width: 90%;
    background-color: rgb(252, 246, 246);
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.forms{
    background-color: rgb(252, 246, 246);
    display: block;
}

.form{
    margin-top: 10px;
    margin-bottom: 10px;
}

#name{
    width: 70%;
    height: 30px;
    border: 2px solid black;
    box-shadow: 5px 2px 5px 2px black;
}

#email{
    width: 70%;
    height: 30px;
    border: 2px solid black;
    box-shadow: 5px 2px 5px 2px black;
}

#message{
    width: 100%;
    height: 200px;
    border: 2px solid black;
    box-shadow: 5px 2px 5px 2px black;
}

#email_sub{
    display: block;
}

.mybutton{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: orange;
    color: white;
}

.map{
    background-color: rgb(252, 246, 246);
}

iframe{
    
    box-shadow: -2px 2px 4px black;
}

footer{
    width: 100%;
    background-color: rgb(55, 51, 51);
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.left-footer{
    background-color: rgb(55, 51, 51);
}

.left-footer li {
    list-style: none;
    color: white;
}

.left-footer a{
    text-decoration: none;
    color: white;
}

.right-footer{
    background-color: rgb(55, 51, 51);
   
}
.right-footer h2{
    text-align: center;
    color: white;
}

.socials{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.social{
   
    padding: 5px 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    font-size:40px;
    color: white;

}

.fa-bars{
    display: none;
}


@media(max-width:1024px){
    main{
        width: 1024px;
        background-color: rgb(252, 246, 246);
    }

    .nav{
        display: none;
    }

    .banner img{
        height: 400px;
    }

    .contact{
        display: block;
    }

    textarea{
        width: 80%;
    }

    iframe{
        width: 80% ;
    }

    .fa-bars{
        display: block;
        font-size: 40px;
        color: white;
       
    }

    
}

@media(max-width:768px){
    main{
        width: 768px;
        background-color: rgb(252, 246, 246);
    }

    .nav{
        display: none;
    }

    .banner img{
        height: 400px;
    }

    .card p{
        font-size: 12px;
    }

    .contact{
        display: block;
    }

    textarea{
        width: 90%;
    }

    iframe{
        width: 100% ;
    }

    .fa-bars{
        display: block;
        font-size: 40px;
       
    }

    footer{
        display: block;
    }

    .left-footer{
        display: block;
        text-align: center;
        
    }

    .left-footer h2{
        align-items: center;
        padding-top: 20px;
    }

    .right-footer{
        background-color: rgb(252, 246, 246);
    }

    .right-footer h2{
        color: black;
        padding-top: 30px;
    }

    .social{
        color: black;
        justify-content: space-around;
        margin: auto;
        margin-bottom: 30px;
    }

    
}

@media(max-width:414px){
    main{
        width: 420px;
    }

    .logo{
        
        padding-left: -10px;
        height: 50px;
    } 

    .logo img{
        height: 60px;
        width: 100px;
        
    }

    .fa-bars{
        font-size: 20px;
    }

    header{
        margin-top: -10px;
        height: 100px;
    }

    .cards{
        display: block;
        align-items: center;
    }

    .card{
        width: 90%;
        height: 150px;
        margin: auto;
        margin-top: 15px;

    }

    .testimonials{
        display: block;
    }

    .testimonial{
        width: 90%;
        margin: auto;
        margin-top: 15px;
    }

    .testimonial p{
        font-size: 10px;
        margin: auto;
        margin-bottom: 10px;
    }

    iframe{
        height: auto;
    }

    .left-footer li{
        font-size: 12px;
    }

    .social{
        font-size: 30px;
        padding: 5px 10px;
    }

} 

@media(max-width:375px){
    main{
        width: 375px;
    }

    .logo{
        width: 30%;
        padding-left: 0;
        height: 50px;
    }

    

    .fa-bars{
        font-size: 20px;
    }

    header{
        margin-top: -10px;
        height: 100px;
    }

    .cards{
        display: block;
        align-items: center;
    }

    .card{
        width: 90%;
        height: 150px;
        margin: auto;
        margin-top: 20px;

    }

    .testimonials{
        display: block;
    }

    .testimonial{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .testimonial p{
        font-size: 10px;
        margin: auto;
        margin-bottom: 10px;
    }

    iframe{
        height: auto;
    }

    .left-footer li{
        font-size: 12px;
    }

    .social{
        font-size: 20px;
        padding: 5px 10px;
    }

}

@media(max-width:320px) {

    .card{
        margin-top: 10px;
    }
}